---
import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/layouts/NavBar.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Skills from "@/components/sections/Skills.astro";
import Projects from "@/components/sections/Projects.astro";
---

<Layout title="Portfolio Santiago Molina Mejia" />
<NavBar />
<section id="home"><Hero /></section>
<section id="about"><About /></section>
<section id="education"><Education /></section>
<section id="experience"><Experience /></section>
<section id="skills"><Skills /></section>
<section id="projects"><Projects /></section>

<style is:global>
  h2 {
    font-family: monospace;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media (max-width: 620px) {
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>
