---
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/layouts/NavBar.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
---

<Layout title="Welcome to Astro." />
<NavBar />
<section><Hero /></section>
<section><About /></section>
<section><Education /></section>
<section><Experience /></section>
<section><Projects /></section>
