---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=" mt-16 print:m-0">
    <slot />
  </body>
</html>
<style is:global>
 html.dark {
    background-color: #0d0950;
    color: #fff;
  }

  @media print {
    html, body {
      background-color: #fff;
      color: #000;
    }
  }

  section::before {
    content: "";
    display: block;
    height: 64px;
    margin-top: -64px;
  }
</style>
